{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

<a class="navbar-brand" href="{{url_for('todo')}}">ToDoList</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <a class="nav-link" href="{{url_for('main')}}">Add Tasks <span class="sr-only">(current)</span></a>

      </li>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <a class="nav-link" href="{{url_for('for_list')}}">Add List <span class="sr-only">(current)</span></a>

      </li>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <a class="nav-link" href="{{url_for('for_group')}}">Add Group<span class="sr-only">(current)</span></a>

      </li>

    </ul>

  </div>

</nav>

<div class="d-flex justify-content-center mt-3">

<form method="POST">

        <div class="form-row">

            <div class="col">

            <label for="list">List</label>
            <input type="text" id="list" name="list" class="form-control" required>

            </div>



        </div>
    <div class="d-flex justify-content-end">

            <button type="submit" class="btn btn-primary mt-2 ">Submit</button>

        </div>

</form>

{% endblock %}