{% extends 'ToDoList.html' %}

{% block head %}

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" href="{{url_for('todo')}}">ToDoList</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <a class="nav-link" href="{{url_for('main')}}">Add Tasks <span class="sr-only">(current)</span></a>

      </li>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <a class="nav-link" href="{{url_for('for_list')}}">Add List <span class="sr-only">(current)</span></a>

      </li>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <a class="nav-link" href="{{url_for('for_group')}}">Add Group<span class="sr-only">(current)</span></a>

      </li>

    </ul>

  </div>

</nav>

        <div class="d-flex justify-content-center mt-3">

<form method="POST" action="{{url_for('Update')}}">

        <div class="form-row">

            <div class="col">

            <label for="task">Task</label>
            <input type="text" id="task" name="task" class="form-control" required>

            </div>

        </div>

        <div class="form-row">

            <div class="col">

                <label for="dueDate">Due Date</label>
                <input type="date" id="dueDate" name="dueDate" class="form-control" required>

            </div>

           <div class="col">

            <label for="timepicker">Due Time</label>
            <input type="text" id="timepicker" name="dueTime" class="form-control" required>

           </div>

        </div>

        <div class="form-group mt-2">

            <div class="custom-control custom-checkbox">

        <input class="custom-control-input" type="checkbox" id="important" name="important" value="Yes">
        <label for="important" class="custom-control-label">Important</label>

            </div>

        </div>

    <div class="form-group">

        <label for="myfile">Add File:</label>
        <input type="file" id="myfile" name="myfile">

    </div>

    <div class="form-group">

        <label for="multifile">Add Multiple Files:</label>
        <input type="file" id="multifile" name="multifile" multiple>

    </div>

    <div class="form-group">

        <label for="descr">Description</label>
        <textarea name="descr" id="descr" class="form-control" rows="5" cols="10" required></textarea>

        <div class="d-flex justify-content-end">

            <button type="submit" class="btn btn-primary mt-2 ">Update</button>

        </div>

    </div>

    </form>

    </div>

    {% endblock %}